
.App {
  text-align: center;
  background-color: #f8f3ef; /* Light gray background */
  color: #A3C5A3; /* Green text color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #f8f3ef; /* Same light gray background */
  padding: 20px;
  border-radius: 10px;
  color: #A3C5A3; /* Green text color */
}

.App-header h1 {
  margin: 0;
  font-size:3rem
}

